<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/3dfa0d7dbe.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../view/css/home.css">
    <link rel="stylesheet" href="../view/css/style.css">
    <script src="../view/js/search.js"></script>
    <title>Document</title>
</head>
<body>
    <div class="heading">
      
        <h1 class="logoName">Nemosis</h1>
        
          <input class="search" id="search" type="text" placeholder="Search here" onkeyup="search()">
      
        
        <input class="login" type="button" value="login">
</div>
<div class= body>
	<section>
		<ul>
			<li class= "list active" data-filter= "all">All</li>
			<li class= "list" data-filter= "RAM">RAM</li>
			<li class= "list" data-filter= "SSD">SSD</li>
			<li class= "list" data-filter= "GPU">GPU</li>
			<li class= "list" data-filter= "Headphone">Headphone</li>
		</ul>
		<div class= "product" id="product_list"> 
			<div class ="itemBox RAM">
				<div class="card">
        <img src="ram1.jpg">
        <div id="tt">
        <h4>XLRP 8 GB RAM</h4>
        <p>Specifications....</p>
        <br>
        <br>
        <a href="#" class="btn">
        <span class="text">Text</span>
        <span class="flip-front">Price- 99$</span>
        <span class="flip-back">Go for Details...</span>
        </a>
        <br>
        <br>
        <br>
       </div> 
      </div>
			</div>

			<div class ="itemBox SSD">
				<div class="card">
        <img src="ssd1.jpg">
        <div id="tt">
        <h4>DETAILS...</h4>
        <p>Specifications....</p>
        <br>
        <br>
        <a href="#" class="btn">
        <span class="text">Text</span>
        <span class="flip-front">Price- 99$</span>
        <span class="flip-back">Go for Details...</span>
        </a>
        <br>
        <br>
        <br>
       </div>
      </div>
			</div>

			<div class ="itemBox Headphone">
				<div class="card">
        <img src="hdp1.jpg">
        <div id="tt">
        <h4>DETAILS...</h4>
        <p>Specifications....</p>
        <br>
        <br>
        <a href="#" class="btn">
        <span class="text">Text</span>
        <span class="flip-front">Price- 99$</span>
        <span class="flip-back">Go for Details...</span>
        </a>
        <br>
        <br>
        <br>
       </div>
      </div>
			</div>

			<div class ="itemBox RAM">
				<div class="card">
        <img src="ram2.jpg">
        <div id="tt">
        <h4>XPG 4GB RAM</h4>
        <p>Specifications....</p>
        <br>
        <br>
        <a href="#" class="btn">
        <span class="text">Text</span>
        <span class="flip-front">Price- 99$</span>
        <span class="flip-back">Go for Details...</span>
        </a>
        <br>
        <br>
        <br>
       </div>
      </div>
			</div>

			<div class ="itemBox Headphone">
				<div class="card">
        <img src="hdp2.jpg">
        <div id="tt">
        <h4>DETAILS...</h4>
        <p>Specifications....</p>
        <br>
        <br>
        <a href="#" class="btn">
        <span class="text">Text</span>
        <span class="flip-front">Price- 99$</span>
        <span class="flip-back">Go for Details...</span>
        </a>
        <br>
        <br>
        <br>
       </div>
      </div>
			</div>

			<div class ="itemBox RAM">
				<div class="card">
        <img src="ram3.jpg">
        <div id="tt">
        <h4>GEIL 16gb ram</h4>
        <p>Specifications....</p>
        <br>
        <br>
        <a href="#" class="btn">
        <span class="text">Text</span>
        <span class="flip-front">Price- 99$</span>
        <span class="flip-back">Go for Details...</span>
        </a>
        <br>
        <br>
        <br>
       </div>
      </div></div>

			<div class ="itemBox GPU">
				<div class="card">
        <img src="gpu1.jpg">
        <div id="tt">
        <h4>DETAILS...</h4>
        <p>Specifications....</p>
        <br>
        <br>
        <a href="#" class="btn">
        <span class="text">Text</span>
        <span class="flip-front">Price- 99$</span>
        <span class="flip-back">Go for Details...</span>
        </a>
        <br>
        <br>
        <br>
       </div>
      </div>
    </div>

			<div class ="itemBox GPU">
				<div class="card">
        <img src="gpu2.jpg">
        <div id="tt">
        <h4>DETAILS...</h4>
        <p>Specifications....</p>
        <br>
        <br>
        <a href="#" class="btn">
        <span class="text">Text</span>
        <span class="flip-front">Price- 99$</span>
        <span class="flip-back">Go for Details...</span>
        </a>
        <br>
        <br>
        <br>
       </div>
      </div>
			</div>

			<div class ="itemBox RAM">
				<div class="card">
        <img src="ram4.jpg">
        <div id="tt">
        <h4>DETAILS...</h4>
        <p>Specifications....</p>
        <br>
        <br>
        <a href="#" class="btn">
        <span class="text">Text</span>
        <span class="flip-front">Price- 99$</span>
        <span class="flip-back">Go for Details...</span>
        </a>
        <br>
        <br>
        <br>
       </div>
      </div>
    </div>

			<div class ="itemBox SSD">
				<div class="card">
        <img src="ssd2.jpg">
        <div id="tt">
        <h4>DETAILS...</h4>
        <p>Specifications....</p>
        <br>
        <br>
        <a href="#" class="btn">
        <span class="text">Text</span>
        <span class="flip-front">Price- 99$</span>
        <span class="flip-back">Go for Details...</span>
        </a>
        <br>
        <br>
        <br>
       </div>
      </div>
			</div>

			<div class ="itemBox SSD">
        <div class="card">
        <img src="ssd3.jpg">
        <div id="tt">
        <h4>DETAILS...</h4>
        <p>Specifications....</p>
        <br>
        <br>
        <a href="#" class="btn">
        <span class="text">Text</span>
        <span class="flip-front">Price- 99$</span>
        <span class="flip-back">Go for Details...</span>
        </a>
        <br>
        <br>
        <br>
       </div>
      </div>
			</div>

			<div class ="itemBox Headphone">
				<div class="card">
        <img src="hdp3.jpg">
        <div id="tt">
        <h4>DETAILS...</h4>
        <p>Specifications....</p>
        <br>
        <br>
        <a href="#" class="btn">
        <span class="text">Text</span>
        <span class="flip-front">Price- 99$</span>
        <span class="flip-back">Go for Details...</span>
        </a>
        <br>
        <br>
        <br>
       </div>
      </div>
			</div>

			<div class ="itemBox GPU">
				<div class="card">
        <img src="gpu3.jpg">
        <div id="tt">
        <h4>DETAILS...</h4>
        <p>Specifications....</p>
        <br>
        <br>
        <a href="#" class="btn">
        <span class="text">Text</span>
        <span class="flip-front">Price- 99$</span>
        <span class="flip-back">Go for Details...</span>
        </a>
        <br>
        <br>
        <br>
       </div>
      </div>
			</div>

			<div class ="itemBox SSD">
				<div class="card">
        <img src="ssd4.jpg">
        <div id="tt">
        <h4>DETAILS...</h4>
        <p>Specifications....</p>
        <br>
        <br>
        <a href="#" class="btn">
        <span class="text">Text</span>
        <span class="flip-front">Price- 99$</span>
        <span class="flip-back">Go for Details...</span>
        </a>
        <br>
        <br>
        <br>
       </div>
      </div>
			</div>

			<div class ="itemBox Headphone">
				<div class="card">
        <img src="hdp4.jpg">
        <div id="tt">
        <h4>DETAILS...</h4>
        <p>Specifications....</p>
        <br>
        <br>
        <a href="#" class="btn">
        <span class="text">Text</span>
        <span class="flip-front">Price- 99$</span>
        <span class="flip-back">Go for Details...</span>
        </a>
        <br>
        <br>
        <br>
       </div>
      </div>
			</div>

			<div class ="itemBox GPU">
				<div class="card">
        <img src="gpu4.jpg">
        <div id="tt">
        <h4>DETAILS...</h4>
        <p>Specifications....</p>
        <br>
        <br>
        <a href="#" class="btn">
        <span class="text">Text</span>
        <span class="flip-front">Price- 99$</span>
        <span class="flip-back">Go for Details...</span>
        </a>
        <br>
        <br>
        <br>
       </div>
      </div>
			</div>

		</div>		
	</section>
	<script src="https://code.jquery.com/jquery-3.6.0.js"
  integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
  crossorigin="anonymous"></script>
  <script type="text/javascript">
  	$(document).ready(function(){
      $('.list').click(function(){
      	const value = $(this).attr('data-filter');
      	if(value == 'all')
      	{
      		$('.itemBox').show('1000');
      	}
      	else{
      		$('.itemBox').not('.'+value).hide('1000');
      		$('.itemBox').filter('.'+value).show('1000');
      	}
      })
      $('.list').click(function(){
      	$(this).addClass('active').siblings().removeClass('active');
      })
  	})

  </script>
</div>

</body>
</html>